USE [master]
GO
/****** Object:  Database [Demo]    Script Date: 07-02-2026 12:13:45 ******/
CREATE DATABASE [Demo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Demo', FILENAME = N'C:\Users\kunda\Demo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Demo_log', FILENAME = N'C:\Users\kunda\Demo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Demo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Demo]
GO
/****** Object:  Table [dbo].[DemoData]    Script Date: 07-02-2026 12:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DemoData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](100) NULL,
	[dob] [date] NULL,
	[gender] [varchar](100) NULL,
	[userid] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[image] [varchar](200) NULL,
	[class] [varchar](100) NULL,
	[subject] [varchar](100) NULL,
	[teacher] [varchar](100) NULL,
	[address] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacher]    Script Date: 07-02-2026 12:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[class] [varchar](100) NULL,
	[subject] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AddDemoData]    Script Date: 07-02-2026 12:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddDemoData]

@name varchar(100),
@email varchar(100),
@phone varchar(100),
@dob date,
@gender varchar(100),
@userid varchar(100),
@password varchar(100),
@image varchar(200),
@class varchar(100),
@subject varchar(100),
@teacher varchar(100),
@address text
as
begin
insert into DemoData(name,email,phone,dob,gender,userid,password,image,class,subject,teacher,address) values(@name,@email,@phone,@dob,@gender,@userid,@password,@image,@class,@subject,@teacher,@address)
end
GO
/****** Object:  StoredProcedure [dbo].[AddTeacher]    Script Date: 07-02-2026 12:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AddTeacher]
@name varchar(100),
@class varchar(100),
@subject varchar(100)
as
begin
insert into teacher(name,class,subject)values(@name,@class,@subject)
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteDemoData]    Script Date: 07-02-2026 12:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteDemoData]
@id int
as
begin
delete from DemoData where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteTeacher]    Script Date: 07-02-2026 12:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteTeacher]
@id int
as
begin
delete from teacher where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[GetDemo]    Script Date: 07-02-2026 12:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetDemo] 

    as
    begin
      SELECT 
    d.id,
    d.name,
    d.email,
    d.phone,
    d.dob,
    d.gender,
    d.userid,
    d.password,
    d.image,
   
   
    
    d.address,

    t.name   AS teacher,
    t.class,
    t.subject 

FROM DemoData d
LEFT JOIN teacher t 
    ON d.teacher = t.id;
    end
GO
/****** Object:  StoredProcedure [dbo].[GetDemoData]    Script Date: 07-02-2026 12:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetDemoData]
as
begin
select * from DemoData
end
GO
/****** Object:  StoredProcedure [dbo].[GetTeacher]    Script Date: 07-02-2026 12:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetTeacher]

as
begin
select * from teacher
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateDemoData]    Script Date: 07-02-2026 12:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UpdateDemoData]
@id int,
@name varchar(100),
@email varchar(100),
@phone varchar(100),
@dob date,
@gender varchar(100),
@userid varchar(100),
@password varchar(100),
@image varchar(200),
@class varchar(100),
@subject varchar(100),
@teacher varchar(100),
@address text
as
begin
update DemoData set name=@name,email=@email,phone=@phone,dob=@dob,gender=@gender,userid=@userid,password=@password,image=@image,class=@class,subject=@subject,teacher=@teacher,address=@address where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateTeacher]    Script Date: 07-02-2026 12:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateTeacher]
@id int,
@name varchar(100),
@class varchar(100),
@subject varchar(100)
as
begin
update teacher set name=@name,class=@class,subject=@subject where id=@id
end
GO
USE [master]
GO
